<%= form_for(@account_album) do |f| %>
  <% if @account_album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_album.errors.count, "error") %> prohibited this account_album from being saved:</h2>

      <ul>
      <% @account_album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
