<div>
  <%= form_for(@comment, :remote => true) do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id %>
    <div class="field">
      <%= f.text_area :content, :rows=>1, :col => 40 %>
    </div>
  <% end %>
</div>

