<% @comments = @post.comments %>

<div class="comment-box-inner">
  <% unless @comments.nil? %>
  
  <div class="comment_post">

    <% @comments.each do |comment| %>
        <div id="comment_id_<%= comment.id %>" class="post_comment post_comment_child comment_child comment-content">
          <div class="image_name">
            <% if current_user.profile_photo_id.blank? %>
              <%= link_to image_tag("profilePhoto/no-image.gif", :class => "profile_image", :id => "profile_image", :alt => "User's image", :size => "60x40"), root_url %>
            <% else %>
              <%= link_to image_tag(current_user.profile_photo.avtar.url(:comment), :class => "profile_image", :id => "profile_image", :alt => "#{current_user.first_name} #{current_user.last_name}'s image"), root_url %>
            <% end %>
          </div>
          <div class="image_name">
            <div class="name_link_post comment_name_link">
              <div>
                <%= link_to "#{comment.user.first_name} #{comment.user.last_name} ", root_url %>
                
                <%= link_to "", comment, :method => "delete", :confirm => "Are you sure?", :id => "delete_link_#{comment.id}", :class => "close-button image-block inactive-delete-link", :remote => true %>
              </div>
              <div>
                <%= comment.content %>
              </div>
              <div>
                <span>
                  <% @status = comment.current_user_like? (current_user)  %>

                  <% if @status %>
                    <%= link_to "Like", likes_path("like_type" => "comment", :like => {:user_id => "#{current_user.id}", :post_id => "#{comment.post_id}", :comment_id => "#{comment.id}" }), :method => "post", :remote => true, :id => "like_comment_#{comment.id}", :class => "like_post_class disable_link" %>
                    <%= link_to "Unike", destroy_like_likes_path("like_type" => "comment", :like => {:user_id => "#{current_user.id}", :post_id => "#{comment.post_id}", :comment_id => "#{comment.id}" }), :method => "post", :remote => true, :id => "unlike_comment_#{comment.id}", :class => "unlike_post_class" %>
                  <% else %>
                    <%= link_to "Like", likes_path("like_type" => "comment", :like => {:user_id => "#{current_user.id}", :post_id => "#{comment.post_id}", :comment_id => "#{comment.id}" }), :method => "post", :remote => true, :id => "like_comment_#{comment.id}", :class => "like_post_class" %>
                    <%= link_to "Unike", destroy_like_likes_path("like_type" => "comment", :like => {:user_id => "#{current_user.id}", :post_id => "#{comment.post_id}", :comment_id => "#{comment.id}" }), :method => "post", :remote => true, :id => "unlike_comment_#{comment.id}", :class => "unlike_post_class disable_link" %>
                  <% end %>
                </span>
                
                <span><abbr class="timeago" title="<%= comment.timeago_format %>" style="border-style: none;"></abbr></span>
              </div>
              <div id="comment_like_<%= comment.id %>" class="post_like comment_like">
                <%= render "likes/users_like", :likes =>  comment.likes  unless comment.likes.length > 0 %>
              </div>
            </div>

          </div>

        </div>
    <% end %>
  </div>
  <% end %>
  <div class="comment-box-photo">
    <% if current_user.profile_photo_id.blank? %>
      <%= link_to image_tag("profilePhoto/no-image.gif", :class => "profile_image", :id => "profile_image", :alt => "User's image", :size => "60x40"), root_url %>
    <% else %>
      <%= link_to image_tag(current_user.profile_photo.avtar.url(:new_comment), :class => "profile_image", :id => "profile_image", :alt => "#{current_user.first_name} #{current_user.last_name}'s image"), root_url %>
    <% end %>
  </div>
  <div id="comment-box-form" class="comment-box-form" >
    <%= render :partial=>'comments/form', :locals => {:post_id => "#{@post.id}"} %>
  </div>
</div>
<div style="clear:both;"></div>