
<div class="post_comment">
  <div class="post_comment_child">
    <div class="image_name">
      <% if post.user.profile_photo_id.blank? %>
        <%= link_to image_tag("profilePhoto/no-image.gif", :class => "profile_image", :id => "profile_image", :alt => "User's image", :size => "53x40"), root_url %>
      <% else %>
        <%= link_to image_tag(post.user.profile_photo.avtar.url(:comment), :class => "profile_image", :id => "profile_image", :alt => "#{current_user.first_name} #{current_user.last_name}'s image"), root_url %>
      <% end %>
    </div>
    <div class="image_name">
      <div class="name_link_post">
        <div>
          <%= link_to "#{post.user.first_name} #{post.user.last_name} ", root_url %> has updated his status.
        </div>
        <div>
          <%= post.content %>
        </div>
        <div>
          <span>
            <% @status = post.current_user_like? (current_user)  %>

            <% if @status %>
              <%= link_to "Like", likes_path(:like => {:user_id => "#{current_user.id}", :post_id => "#{post.id}" }), :method => "post", :remote => true, :id => "like_post_#{post.id}", :class => "like_post_class disable_link" %>
              <%= link_to "Unike", destroy_like_likes_path(:like => {:user_id => "#{current_user.id}", :post_id => "#{post.id}" }), :method => "post", :remote => true, :id => "unlike_post_#{post.id}", :class => "unlike_post_class" %>
            <% else %>
              <%= link_to "Like", likes_path(:like => {:user_id => "#{current_user.id}", :post_id => "#{post.id}" }), :method => "post", :remote => true, :id => "like_post_#{post.id}", :class => "like_post_class" %>
              <%= link_to "Unike", destroy_like_likes_path(:like => {:user_id => "#{current_user.id}", :post_id => "#{post.id}" }), :method => "post", :remote => true, :id => "unlike_post_#{post.id}", :class => "unlike_post_class disable_link" %>
            <% end %>
          </span>
          <span><%= link_to "Comment", "javascript:void(0);", :id => "comment_post_link_#{post.id}", :class => "comment_post_link" %></span>
          <span><%= link_to "Share", root_url, :remote => true %></span>
          <span><abbr class="timeago" title="<%= post.timeago_format %>" style="border-style: none;"></abbr></span>
        </div>
        <div id="comments_<%= post.id %>" class="comments">
          <div id="post_like_<%= post.id %>" class="post_like">
            <%= render "likes/users_like", :likes =>  post.likes %>
          </div>
          <% @post = post %>
          <%= render :partial => 'home/comment_box', :post => @post %>
        </div>
      </div>

    </div>
    
  </div>
  
</div>



