<div class="wrap">
  <div class="innerWrap">
    <%= form_for(@post, :remote => true) do |f| %>
      <div class="field">
        <%= f.text_area :content, :class => "wall_post", :rows => "1", :cols => "50", :placeholder => "what's on your mind?" %>
        <%= f.hidden_field :by_user_id, :value => current_user.id %>
        <%= f.hidden_field :to_user_id, :value => current_user.id  %>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
