<div id="mainContainer">
  <div id="leftColContainer">
    <div id="leftCol">
      <div id="pagelet_welcome_box">
        <div>
          <div class="image_name">
            <% if current_user.profile_photo_id.blank? %>
              <%= link_to image_tag("profilePhoto/no-image.gif", :class => "profile_image", :id => "profile_image", :alt => "User's image", :size => "60x40"), root_url %>
            <% else %>
              <%= link_to image_tag(current_user.profile_photo.avtar.url(:profile), :class => "profile_image", :id => "profile_image", :alt => "#{current_user.first_name} #{current_user.last_name}'s image"), root_url %>
            <% end %>
            <div  class="change_image_link" style="cursor: default;">
              <%= link_to "Change", new_account_photo_path, :id => "change_image_link" %>
            </div>
          </div>
          <div class="image_name">
            <div class="name_link">
              <%= link_to "#{current_user.first_name} #{current_user.last_name}", root_url %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contentCol">
    <div id="rightCol">
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    </div>
    <div id="update_icons">
      <span class="update-status"><%= link_to 'Update Status','javascript:void(0);' %></span>
    </div>
    <div id="contentArea">
      <div class="status-form-bar" style="border: 1px solid red;">
        <%= render "status_space" %>
      </div>
     
      <div id="status_div" style="width: 100%; border: 1px solid red; height: auto;">
       <%= render "posts" %>
      </div>
      
    </div>
  </div>
</div>
