<nav id="footer-menu">
  <%= link_to "About", about_path %>
  <%= link_to "iPhone App", app_path %>
  <%= link_to "Careers", careers_path %>
  <%= link_to "Terms of Use", terms_path %>
  <%= link_to "Contact", contact_path %>
</nav>
