<nav id="footer-menu">
  <%= link_to "About", root_path %>
  <%= link_to "iPhone App", root_path %>
  <%= link_to "Careers", root_path %>
  <%= link_to "Terms of Use", root_path %>
  <%= link_to "Contact", root_path %>
</nav>
