<!DOCTYPE html>
<html>
<head>
<title><%=  %></title>
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <%= render 'layouts/stylesheets' %>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <%= javascript_include_tag "application" %>
  <%= render :partial => 'layouts/javascript' %>
</head>
<body>
  <div id="main-body">
    <div id="header">
     <%= render 'layouts/header' %>
    </div>
    <div style="clear:both"></div>
    <div id="content">
      <div id="static-content">
        <%= render 'layouts/site_description' %>
      </div>
      <div id="dynamic-content">
        <div class="sign-in-box">
          <p class="alert"><%= alert %></p>
          <p class="notice"><%= notice %></p>
          <%= yield %>
        </div>
      </div>
    </div>
    <div style="clear:both"></div>
    <hr class="footer-separator" />
    <div id="footer"
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
